<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
    <div class="box">
        <h1>
            Skattejagt bornholm!
        </h1>
        <a href="/start" id="pink" class="links"style="background-color: black" >Start</a>
        <a href="/post1" id="red" class="links" style="background-color: yellow">BLÅ</a>
        <a href="/post2" id="blue" class="links"style="background-color: green">GUL</a>
        <a href="/post3" id="yellow" class="links"style="background-color: red">GRØN</a>
        <a href="/post4" id="green" class="links"style="background-color: blue">RØD</a>
        <a href="/post5" id="pink" class="links"style="background-color: black">Skatten</a>
    </div>

</body>
</html>