<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
    <div class="box">
        <h1>test</h1>
        <a href="/page1" class="red">Blue</a>
        <a href="/page2" class="blue">Green</a>
        <a href="/page3" class="green">Orange</a>
        <a href="/page4" class="orange">Black</a>
        <a href="/page5" class="black">Brown</a>
        <a href="/page6" class="brown">Yellow</a>
        <a href="/page7" class="yellow">Pink</a>
        <a href="/page8" class="pink">Purple</a>
        <a href="/page9" class="purple">Red</a>
    </div>

</body>
</html>