<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
    <div class="box">
        <h1>
            Skattejagt bornholm!
        </h1>
        <a href="/post1" id="red" class="links">Post 1</a>
        <a href="/post2" id="blue" class="links">Post 2</a>
        <a href="/post3" id="yellow" class="links">Post 3</a>
        <a href="/post4" id="green" class="links">Post 4</a>
        <a href="/post5" id="orange" class="links">Skatten</a>
    </div>

</body>
</html>