<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page9</title>
</head>
<body>
    <h1>Tilykke! I er nået til enden. Indtast alle 4 svar for at finde skatten.</h1>
    <form method="POST" action="test">
        <div class="rows">
            <input type="text" placeholder="Post 1" name="post1">
            <input type="text" placeholder="Post 2" name="post2">
            <input type="text" placeholder="Post 3" name="post3">
            <input type="text" placeholder="Post 4" name="post4">
        </div>
        <input  type="submit">
    </form>
</body>
</html>