<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
    <div class="box">
        <h1>Indtast jeres hemmelige kodeord for at finde jeres første post.</h1>
        <form METHOD="GET" action="/startsvar" class="forms">
            <input type="text"  name="start" class="margin">
            <input type="submit" class="margin">
        </form>
    </div>

</body>
</html>